@use "/src/utilities/variables";

.footer {
  height: 60px;
  border-top: 1px solid map-get(variables.$colors, "default_white");
  background-color: map-get(variables.$colors, "bg_color");
  position: fixed;
  bottom: 0;
  width: 96%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bug {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  .copyright {
    display: none;
  }
}
